.purple-color{
    color:#8823f3 ;
}

body { 
    font-family: sans-Serif;
    line-height: 22px;
    color: #777;
}

.half-width{
    width: 50% ;
    float: left;
}
.side-img{
    width: 50%;
    padding-left: 25% ;
    margin-top: 20%; 
}


.link{
    margin-top:20px ;
    padding: 10px ;
    background-color:#8845f4 ;
    color:#fff;
    text-decoration: none;
    border-radius: 12px;
}

h1 {
    font-size: 2.5em ; 
}


.container{
     padding-left:5% ;
     display:inline-block ;
    /* margin: 20px ;   */
}

.experiences{
    padding:30px ;
    margin:30px;
    background-color: rgb(238, 251, 255) ;
    border-radius:20px;

.experience-item{
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2);
}

/*
footer p{
    text-align: center;
}
*/



